

    <style>

              

                   .breakLine {
                    word-break: break-all;
                }

              
    </style>



    <table width="400">
        <tr>
            <td width="90" height="30">处理人工号：</td>
            <td width="410" class="breakLine">001156,001157,001145,001149,001178,001123,001140,001167,001168,001134,001135</td>
        </tr>
    </table>
