

@*<p>Use this area to provide additional information.</p>
<select asp-for="CompleteRate"  asp-items="ViewBag.quartersList">
    <option value="">--- Please select ---</option>
    <option value="0">Add new</option>
</select>*@