@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentellela Alela! | </title>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        

        <div class="login_wrapper">

            <div class="animate form login_form">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Create a new account</h3>
                    </div>
                    <div class="panel-body">
                        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"  method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <div>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <div >
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label"></label>
                                    <div>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InvitationCode" class="control-label"></label>
                                    <div>
                                        <input asp-for="InvitationCode" class="form-control" />
                                        <span asp-validation-for="InvitationCode" class="text-danger"></span>
                                    </div>
                                </div>
                              

                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Register</button>
                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                            <br />

                        </form>
                    </div>
                </div>
                <p class="change_link">
                    Already a member ?
                    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]"> Log in </a>
                </p>
                
            </div>
        
        </div>
    </div>
</body>
</html>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
