@model IndexViewModel
@{
    ViewData["Title"] = "Change Password";
}




<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-12">
                    <h3><strong>@ViewData["Title"]</strong></h3>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                <div style="width: 100%;">

                    <p class="text-success">@ViewData["StatusMessage"]</p>

                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<br />
