@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService 

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - IDSurvey</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <link href="~/css/my.css" rel="stylesheet" />
</head>
<body class="nav-md" id=body onscroll=SetCookie("scroll",document.body.scrollTop); onload="scrollback();">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="site_title"><i class="fa fa-tachometer" aria-hidden="true"></i><span> Dashboard</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>&nbsp;</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a class="ajax-link" asp-controller="Home" asp-action="Index"><i class="fa fa-line-chart" aria-hidden="true"></i><span>Graphics</span></a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RateByRange"><i class="fa fa-table" aria-hidden="true"></i>Cumulative Response Rate Tables</a>
                                </li>

                                <li>
                                    <a asp-controller="Home" asp-action="RateByQTR"><i class="fa fa-table" aria-hidden="true"></i>Monthly Response Rate Tables</a>
                                </li>
                                <li>
                                    <a asp-controller="CompositeScoreResult" asp-action="Index"><i class="fa fa-area-chart" aria-hidden="true"></i><span> Composite Scores</span></a>
                                </li>
                                <li>
                                    <a asp-controller="CompositeScoreResult" asp-action="Figure"><i class="fa fa-bar-chart" aria-hidden="true"></i><span> Composite Scores Figures</span></a>
                                </li>

                                @if (await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole"))
                                {
                                    <li>
                                        <a asp-controller="Admin" asp-action="Index"><i class="fa fa-wrench" aria-hidden="true"></i><span> Admin</span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="menu_section">
                        
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">

                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                           
                        </div>
                        <button class="btn btn-lg btn-link" id="printButton"><i class="fa fa-print" aria-hidden="true"></i>Print</button>
                       @await Html.PartialAsync("_LoginPartial")
                       
                    </nav>
                </div>
            </div>

            <div class="right_col" role="main" id="print-page">
                @RenderBody()
            </div>
        </div>

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Dashboard
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
   
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js">
    </script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js">
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script type="text/javascript">
        function Trim(strValue) {
            //return strValue.replace(/^s*|s*$/g,"");
            return strValue;
        }

        function SetCookie(sName, sValue) {
            document.cookie = sName + "=" + escape(sValue);
        }

        function GetCookie(sName) {
            var aCookie = document.cookie.split(";");
            for (var i = 0; i < aCookie.length; i++) {
                var aCrumb = aCookie[i].split("=");
                if (sName == Trim(aCrumb[0])) {
                    return unescape(aCrumb[1]);
                }
            }
            return null;
        }

        function scrollback() {
            if (GetCookie("scroll") != null) { document.body.scrollTop = GetCookie("scroll") }
        }
    </script>
    <script>
        var url = "Home/Index"
        $('#create').click(function () {
            $.ajax({
                type: "POST",
                data: $("#form").serialize(),
                cache: false,
                url: url, // the file to call
                success: function (data) {
                    $('#created').html(response); // update the DIV
                }
            });
        });
    </script>
    <script>

        var url = "Home/RateByRange"
        $('#create2').click(function () {
            $.ajax({
                type: "POST",
                data: $("#form2").serialize(),
                cache: false,
                url: url, // the file to call
                success: function (data) {
                    $('#created2').html(response); // update the DIV
                }
            });
        });
    </script>
    <script type="text/javascript">
        
        $("#printButton").click(function () {

           window.print();

        });

        (function () {
            var beforePrint = function () {
                for (var i = 0; i < AmCharts.charts.length; i++) {
                    var chart = AmCharts.charts[i];
                    chart.div.style.width = "1000px";
                    chart.validateNow();
                }
            };
            var afterPrint = function () {
                for (var i = 0; i < AmCharts.charts.length; i++) {
                    var chart = AmCharts.charts[i];
                    chart.div.style.width = "100%";
                    chart.validateNow();
                }
            };

            if (window.matchMedia) {
                var mediaQueryList = window.matchMedia('print');
                mediaQueryList.addListener(function (mql) {
                    if (mql.matches) {
                        beforePrint();
                    } else {
                        afterPrint();
                    }
                });
            }

            window.onbeforeprint = beforePrint;
            window.onafterprint = afterPrint;
        }());
    </script>

</body>
</html>
